﻿html { height: 100%; min-height: 100%;}

body { 
    background: #222429;
    font: 14px/18px "Segoe UI";
    color: #666; 
    -webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
    -webkit-text-size-adjust: none;
    padding: 0px;
    margin: 0px;
    height: 100%;
    min-height: 100%;
    letter-spacing: 1px;
}

a { color: #c13a3e; text-decoration: none; letter-spacing: 1px; }
a:hover { text-decoration: underline; }

.wrap { height: 100%; min-height: 100%; width: 100%; }


p { margin-bottom: 20px; }

#content {
    width: 1000px;
    padding: 15px;
    margin: 0 auto;
    background-color: #222429;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;
}
#content h1 { color: #f4f4f4; line-height: 1em; }
#content ul { padding-left: 0; list-style: none; }
#content ul li { margin-bottom: 20px; }

#modal { display: none; width:100%; height: 100% }
#modal a { color: #333; font-weight: bold; padding: 5px 10px; border: none; }
#modal a:hover { } 

pre { border: 1px solid #CCC; background-color: #EEE; color: #333; padding: 10px 20px; }

.banner { margin-left: auto; margin-right: auto; text-align: center;}

#slideMenu { width: 100%; float: left; height: 100%; top: 0px; background-color: #2B2E36; }
#slideMenu .left  { width: 150px; height:100%; padding-top: 10px; background-image: url('../images/slideMenuBg.png');  }
#slideMenu .left ul {list-style: none; }
#slideMenu .right { width: 100%; float: left; height: 100%; background-color: #222429; }
#slideFrameContent { margin-left:auto; margin-right:auto; }
#slideFrameContent .content { padding-top: 25px; padding-left: 25px; margin-left: auto; margin-right: auto; }
#slideFrameContent .title { font-size: 34pt; font-weight: normal; color: White; }
#slideFrame { width: 100%; border: 0px;height: 100%;}

.forumTable { width: 100%; padding: 0px; margin: 0px; }
.forumGroup { height: 30px; margin-left: auto; margin-right: auto;  background-color: #2B2E36; padding: 10px; color: #0E1423;     -moz-border-radius: 5px;-webkit-border-radius: 5px;-khtml-border-radius: 5px;border-radius:5px; }
.forumGroup a { font-weight: bold; }
.forumGroup .description { padding-left: 10px; }
.forumGroup .topics { color: #c13a3e; text-align: center; width: 80px; }
.forumGroup .posts { color: #c13a3e; text-align: center; width: 80px; }
.forumGroup .lastPost { color: #c13a3e; text-align: center; width: 200px; }
.forum { height: 40px; margin-left: auto; margin-right: auto;  background-color: #1C1E23; padding: 10px; color: white;     -moz-border-radius: 5px;-webkit-border-radius: 5px;-khtml-border-radius: 5px;border-radius:5px; }
.forum table { width: 100%; padding: 0px; margin: 0px; }
.forum .header { width: 50px;  }
.forum .description {  }
.forum .topics { text-align: center; }
.forum .posts { text-align: center; }
.forum .lastPost { text-align: center; font-size: 12px; }
.forumAlternating { height: 40px; margin-left: auto; margin-right: auto;  background-color: #181A1E; padding: 10px; color: white;     -moz-border-radius: 5px;-webkit-border-radius: 5px;-khtml-border-radius: 5px;border-radius:5px; }
.forumAlternating table { width: 100%; padding: 0px; margin: 0px; }
.forumAlternating .header { width: 50px; }
.forumAlternating .description {  }
.forumAlternating .topics { text-align: center; }
.forumAlternating .posts { text-align: center; }
.forumAlternating .lastPost { text-align: center; font-size: 12px; }

.postingBox  
{
    width: 50%;
    height: 300px;
    color: White;
    margin-left:auto; 
    margin-right:auto; 
    background-color: #333; 
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;
}

.postingBox .inner
{
    margin-left:auto; 
    margin-right:auto; 
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
}

.postingBox h3
{
    font-size: 8pt;
    border-bottom: 1px solid #4f4f4f;
}