﻿body {
}

.splashBody
{
    margin: 0px;
    padding: 0px;
}

#splash
{
    width: 640px;
    height: 410px;
    background-image: url('../images/launcher.png');
    font-family: Tahoma;
    color: white;
    font-size: 10pt;
}

    #splash a
    {
        margin-left: 3px;
        font-family: Tahoma;
        color: darkorange;
        text-decoration: none;
    }

        #splash a:hover
        {
            color: white;
            text-decoration: none;
        }

    #splash .bullet
    {
        width: 15px;
        color: darkorange;
        font-size: 8pt;
    }

    #splash #left
    {
        float: left;
        width: 230px;
        height: 410px;
        /* Fallback for web browsers that doesn't support RGBa */
        background: rgb(0, 0, 0) transparent;
        /* RGBa with 0.6 opacity */
        background: rgba(0, 0, 0, 0.6);
        /* For IE 5.5 - 7*/
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
        /* For IE 8*/
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
    }

    #splash #right
    {
        float: left;
        width: 410px;
        height: 410px;
    }

        #splash #right #news
        {
            float: right;
            margin-top: 110px;
            width: 230px;
            height: 300px;
            /* Fallback for web browsers that doesn't support RGBa */
            background: rgb(0, 0, 0) transparent;
            /* RGBa with 0.6 opacity */
            background: rgba(0, 0, 0, 0.6);
            /* For IE 5.5 - 7*/
            filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
            /* For IE 8*/
            -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
        }

            #splash #right #news a
            {
                text-decoration: none;
                color: white;
            }

                #splash #right #news a:hover
                {
                    text-decoration: none;
                    color: darkorange;
                }

    #splash .content
    {
        padding: 10px;
    }

    #splash .heading
    {
        font-size: 11pt;
    }

.loginForm
{
}

    .loginForm .field
    {
        padding: 3px;
        background-color: white;
    }

    .loginForm input
    {
        border: 0;
        font-family: Tahoma;
    }

        .loginForm input:focus
        {
            outline: none;
        }

    .loginForm a
    {
        margin-left: 3px;
        font-family: Tahoma;
        color: darkorange;
        text-decoration: none;
        letter-spacing: 1px;
        font-size: 11pt;
    }

        .loginForm a:hover
        {
            color: white;
            text-decoration: none;
        }

.accountName
{
    color: darkorange;
    font-size: 11pt;
    letter-spacing: 1px;
}

.characterList
{
    width: 80%;
}

    .characterList .heading
    {
        color: darkorange;
        font-size: 11pt;
        letter-spacing: 1px;
    }