﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Splash.master" AutoEventWireup="true" CodeFile="Splash.aspx.cs" Inherits="Splash" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <div id="news">
        <div class="content">
            <span class="heading">Latest News</span>
            <br /><br />
            <table>
                <tr>
                    <td class="bullet">></td>
                    <td>
                        <a href="http://www.helbreath.info/forum/viewtopic.php?f=147&t=11287" target="_new">Official Testing Thread 2016</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</asp:Content>

