﻿<%@ Page Title="" Language="C#" MasterPageFile="~/forum/slide.master" AutoEventWireup="true" CodeFile="newpost.aspx.cs" Inherits="forum_newpost" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">

</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
<div id="slideFrameContent">
    <div class="content">
        <span class="title">Post</span>
        <div class="postingBox">
            <div class="inner">
            
            </div>
        </div>
    </div>
</div>
</asp:Content>

