﻿<%@ Page Title="" Language="C#" MasterPageFile="~/forum/slide.master" AutoEventWireup="true" CodeFile="viewpost.aspx.cs" Inherits="forum_viewpost" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
</asp:Content>

